.containerIntrouction {
  margin-top: 40px;
  height: 600;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  margin-bottom: 50px;
  gap: 300px;
  align-items: center;
  justify-content: center;
}

.foto {
  width: 400px;
  height: 500px;
  border-radius: 50px;
}

/* Tablet CSS*/

@media screen and (max-width: 992px) {
  .containerIntrouction {
    gap: 70px;
  }
  .foto {
    width: 350px;
    height: 400px;
    border-radius: 50px;
  }
}

/* Phone CSS*/

@media screen and (max-width: 600px) {
  .containerIntrouction {
    gap: 20px;
  }
  .foto {
    width: 300px;
    height: 350px;
    border-radius: 50px;
  }
  .fotoSection {
    justify-self: center;
  }
  .DataSection {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  }
}
